main {
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
}

div{
  width: 200px;
  height: 200px;
  background-color: tomato;
  border-radius: 10%;
  border: 1px solid rgb(184, 72, 52);
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
  box-shadow: 2px 2px 20px rgb(241, 211, 205);
  animation: latir 3s ease-in-out infinite;
}

div:hover{
  background-color: rgba(255, 99, 71, 0.884);
  box-shadow: 2px 2px 20px rgb(207, 172, 166);
}

div:active {
  transform: rotate(45deg) scale(1.5);
}

@keyframes latir{
  0%{
    width: 200px;
    height: 200px;
    background-color: tomato;
  }
  50%{
    background-color: rgb(184, 72, 52);
    width: 210px;
    height: 210px;
  }
  100%{
    width: 200px;
    height: 200px;
    background-color: tomato;
  }
}